.menu-card {
    background: linear-gradient(135deg, #6c63ff, #a17df5);
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .menu-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }

.menu-icon {
    font-size: 50px;
}

.card-title {
    font-weight: bold;
}

.btn {
    width: 80%;
}
